@import '../../../../css/colors.css';
@import '../../../../css/units.css';
.images-wrapper {
  margin-left: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(2, 50px);
  grid-gap: 2px;
  grid-column-gap: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  max-height: 106px;
  transition: border 0.3s ease-in-out;
}
.images-wrapper:hover {
  border: 2px solid $ui-border-grey;
}
.images-wrapper.selected-row {
  border: 2px solid greenyellow;
}
.images-wrapper::-webkit-scrollbar {
  background: white;
  width: 2px;
}
.images-wrapper::-webkit-scrollbar-thumb {
  width: 1px;
  background: grey;
}
.images-wrapper .add-image {
  height: 50px;
  width: 50px;
  background: $ui-border;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $space;
  color: $ui-white;
}
.images-wrapper .add-image span {
  font-size: 36px;
  margin: 0;
  -webkit-text-stroke: medium;
  height: 36px;
  line-height: 36px;
  display: inline-block;
 }
.images-wrapper .add-image input {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  left: 0;
}
.image-wrapper {
  position: relative;
  display: flex;
  height: 50px;
  width: 50px;
  background: $ui-border;
  border-radius: $space;
}

.del-class{
  position: absolute;
  right: 65px;
  width: 20px;
  height: 20px;
  background: url('../../icon--close.svg') center center no-repeat;
  border: 2px white solid ;
  border-radius: 50%;
  opacity: 0;
  transition: opacity .3s;
}
.input-row:hover .del-class{
  opacity: 1;
}

.add-class{
  margin-left: 158px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  max-height: 106px;
  transition: border 0.3s ease-in-out;
  height: 106px;
  width: 174px;
}

.add-class:hover {
  border: 2px solid $ui-border-grey;
}

.add-class span{
  font-size: 36px;
  margin: 0;
  -webkit-text-stroke: medium;
  height: 106px;
  line-height: 106px;
  display: inline-block;
  color: #fff;
}

.image-wrapper img{
  object-fit: contain;
}
.image-wrapper button {
  top: 5px;
  right: 3px;
  height: 8px;
  width: 8px;
  background: url(./x.svg);
  position: absolute;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.video-wrapper video {
  border-radius: $space;
}
.content-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.input-row .disabled {
  color: $ui-border-grey;
}
.input-row {
  display: flex;
  align-items: center;
  width: 350px;
  margin-left: 20px;
  margin-bottom: 2px;
}
.input-row span {
  margin-right: 7.5px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}
.input-row input {
  width: 100px;
  height: 28px;
  border: 1px solid $ui-border-grey;
  border-radius: $space;
  margin: 0;
  padding: 0 10px;
}
.content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-right select {
  border: 1px solid $ui-border-grey;
  height: 31px;
  padding: 0 10px;
}
.content-right .header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.content-right .cut {
  display: flex;
  align-items: center;
  color: white;
}
.preview-img select {
  border: 1px solid $ui-border-grey;
  border-radius: $space;
  height: 28px;
  padding: 0 10px;
  max-width: 210px;
}
.content-right .manual-switch {
  position: absolute;
  height: 24px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: $ui-white;
  border-radius: $space $space 0 0;
  z-index: 10;
}
.content-right .manual-switch div {
  flex: 1;
  border: 1px solid $ui-border-grey;
  border-bottom: none;
  text-align: center;
  border-radius: $space $space 0 0;
  transition: color .3s ease-out;
}
.content-right .manual-switch div.selected {
  color: $ui-border;
}

.validate-wrapper {
  display: flex;
  width: 760px;
  background: $ui-border;
  border-radius: $space;
  padding: 4px;
}
.validate-tabs {
  width: 46px;
  height: 92px;
}

.validate-mode {
  height: 46px;
  width: 46px;
  background: #F5F5F5;
  transition: background .3s ease-in-out;
  padding: 0;
  margin: 0;
  border: none;
}
.validate-mode:nth-child(1) {
  border-radius: $space 0 0 0;
}
.validate-mode:nth-child(2) {
  border-radius: 0 0 0 $space;
}
.validate-right {
  background: #E5F4FF;
  width: 706px;
  height: 336px;
  border-radius: 0 $space $space $space;
  padding: 20px;
  display: flex;
}
.validate-mode.active {
  background: #E5F4FF;
}

.validate-preview {
  display: flex;
  width: 300px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.validate-row {
  display: flex;
  justify-content: space-between;
}
.add-file-validate {
  height: 28px;
  width: 88px;
  cursor: pointer;
  position: relative;
  background: $ui-white;
  border: 1px solid $ui-border;
  border-radius: $space;
  color: $ui-border;
  line-height: 28px;
}
.add-file-validate input {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.preview-img {
  width: 300px;
  height: 248px;
  background: $ui-white;
  border: 1px solid $ui-border-grey;
  border-radius: $space;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.validate-res {
  height: 248px;
  align-self: flex-end;
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.validate-item {
  margin-bottom: 18px;
  display: flex;
  width: 100%;
  align-items: center;
}
.validate-item span{
  width: 50%;
}

.validate-item span:nth-child(1) {
  text-align: right;
}
.validate-item span:nth-child(2) {
  text-align: left;
}

.validate-complete {
  height: 40px;
  width: 160px;
  background: $ui-border;
  color: $ui-white;
  border-radius: $space;
  line-height: 40px;
  font-size: 20px;
  align-self: flex-end;
  cursor: pointer;
}
.validate-progress {
  margin: 0 10px;
  appearance: none;
  height: 20px;
  width: 200px;
}
.validate-item span:nth-child(3) {
  font-size: 14px;
  width: 36px;
  display: inline-block;
  text-align: right;
}

::-webkit-progress-bar {
  background-color: $ui-white;
  border-radius: 10px;
}
::-webkit-progress-value {
  background-color: $ui-border;
  border-radius: 10px;

}
.validate-title {
  text-align: left;
}
.capture-button {
  height: 20px;
  width: 80px;
  background: $ui-border;
  color: $ui-white;
  border-radius: $space;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
}
.preview-img video {
  border-radius: $space;
}
.left-bottom {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.validate-res-warp{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.test-btn{
  width: 130px;
  height: 30px;
  background-color:  $ui-border;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-top: 25px;
  margin-left: 57px;
  cursor: pointer;
}
.camera-tip{
  background-color: #fff;
  display:flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  border-radius: 4px;
}
.set-background-btn{
  display: flex;
  margin-top: 10px;
  flex-direction: row-reverse;
}
